@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family:100,200,300,400,500,600,700=Special+Elite&display:100,200,300,400,500,600,700,800=swap');

/*----header----*/
#title {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
    font-size:48px;
    color: #388e3c;
    }

    .fa-globe-europe {
        margin: 5px;
        font-weight: 700;
        font-size:48px;
        color: #388e3c;
    }

    @media (max-width:900px) {
        .fa-globe-europe {
            display: none;
        }
    }

    @media (max-width:750px) {
        .hero-image {
            height: 15rem;
        }
    }

    .menu {
        text-align: center;
        color: #fff;
        font-family: "Special Elite",sans-serif;
        letter-spacing: 2px;
        font-size: 35px;
        font-weight: 500;
        padding-top: 4rem;
    }

    .active, .menu li:hover {
        font-weight: 700;
    }

    .search {
        text-align: center;
        padding-top: 8rem;
    }

    .search input {
        border:2px solid #388e3c;
        border-radius: 4px;

    }

    .search button {
        color: #fff;
        background-color: #388e3c;
        border-radius: 4px;
    }

    @media (max-width:750px) {
        .search {
            padding-top: 3rem;
        }
    }
    /*---accomodation---*/

    .accommodation {
        background: url("../images/accommodation.jpg");
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
        height: 30rem;
    }

    /*----footer----*/
    footer {
        color:#bdbdbd;
        padding: 1rem;
        background-color: #388e3c;
        font-size: 18px;
        font-family: "Special Elite",sans-serif;
    }